
<div class="d-flex justify-content-center">

<div cdkDropListGroup>
    <div class="example-container">

<div class="example-container">
  

    <div cdkDropList [cdkDropListData]="done" class="example-list2" (cdkDropListDropped)="drop($event)">
       <div id="messaggio"><h3 id="demo">inserisci tre carte</h3></div> 
        <div class="droptarget"  class="example-box" *ngFor="let item of done" cdkDrag><div class="lines"><img [src]="item.immagine" width="160em"></div></div>
    
    
    </div>
</div>
   


<div class="row justify-content-md-center"id="bottoni" style="display: none;margin-left: 9em;" >
<button type="button" class="btn btn-outline-light" id="button">scopri sulamore
    </button>

    <button type="button" class="btn btn-outline-light" id="button" >scopri sulavoro
        </button>

<button type="button" class="btn btn-outline-light" id="button">scopri sulasalute
    </button>
</div>




        <div  cdkDropList [cdkDropListData]="todo" class="example-list" (CdkDrag)="spariscitesto()"(cdkDropListDropped)="drop($event)" >
            <div (cdkDragStarted)="spariscitesto()" class="example-box card" *ngFor="let item of todo" cdkDrag><img src="../assets/images/cartaF.png"draggable="true" id="container"   width="160em"  ></div>
        </div>
    </div>

   
</div>
</div>
