<div class="d-flex justify-content-center">
    <div id="sparisce">
        <div cdkDropListGroup>
            <div class="example-container">

                <div class="example-container">




                    <div class="example-list2" (cdkDropListDropped)="drop($event)" id="cookietext"
                        style="display: none;">
                        <div style="margin: auto;text-align: center;">
                            <h3 class="testoMagico">registrati o accedi per nuove letture e fuzionalità</h3>
                        </div>




                    </div>





                    <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="done" class="example-list2"
                        (cdkDropListDropped)="drop($event)" id="cookie">
                        <div id="messaggio">
                            <h3 id="demo" class="testoMagico">inserisci tre carte</h3>
                        </div>
                        <div class="droptarget" class="example-box" *ngFor="let item of done" cdkDrag
                            [cdkDragDisabled]="item" style="padding-top: 0%;">



                            <div *ngIf="done.length==3; else elseTemplate">
                                <div class="flip-box">
                                    <div class="flip-box-inner">
                                        <div class="flip-box-front"><img [src]="item.immagine" width="160em"></div>
                                    
                                    <div class="flip-box-back">
                                    <img src="../assets/images/cartaF.png" width="160em">
                                    </div>
</div>
                                </div>
                            </div>


                            <ng-template #elseTemplate>

                                <div> <img src="../assets/images/cartaF.png" width="160em"></div>

                            </ng-template>


                        </div>
                    </div>



                    <div class="row justify-content-md-center" id="bottoni" style="display: none;margin-left: 9em;">
                        <button type="button" class="btn btn-outline-light" id="button"
                            (click)="controlloLogin()">scopri
                            sulamore
                        </button>

                        <button type="button" class="btn btn-outline-light" id="button">scopri sulavoro
                        </button>

                        <button type="button" class="btn btn-outline-light" id="button">scopri sulasalute
                        </button>
                    </div>




                    <div cdkDropList [cdkDropListData]="todo" class="example-list" (CdkDrag)="spariscitesto()"
                        (cdkDropListDropped)="drop($event)">
                        <div (cdkDragStarted)="spariscitesto()" class="example-box card" *ngFor="let item of todo"
                            cdkDrag>
                            <img src="../assets/images/cartaF.png" draggable="true" id="container" width="160em">
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <div *ngIf="done.length>2">
            <div id="testi" style="display:none">
                <button type="button" onclick="location.href='#'" class="btn btn-outline-light" id="button"
                    style="margin-left: 31em;position: fixed;">x
                </button>

                <div class="risultati" *ngIf="done[0].futuroAmore">
                    <p style="font-size: large;MARGIN-BOTTOM: 0px; padding-top: 2em;">La carta<span
                            class="testoMagico2">
                            {{done[0].nome}}</span> ti dice:</p>{{done[0].passatoAmore }}<br>
                    <p style="font-size: large;MARGIN-BOTTOM: 0px; padding-top: 2em;">La carta<span
                            class="testoMagico2">{{done[1].nome}}</span> ti dice:</p>{{done[1].presenteAmore }}<br>
                    <p style="font-size: large;MARGIN-BOTTOM: 0px; padding-top: 2em;">La carta<span
                            class="testoMagico2">{{done[2].nome}}</span> ti dice:</p>{{done[2].futuroAmore }}<br>
                </div>



            </div>
        </div>



    </div>