<div class="centrare">



</div>


<div class="container">
    <div class="row justify-content-md-center">
    <div class="col col-lg-2 card" >
        <img src="../assets/images/cartaF.png" width="160em">
        <div class="back"><img [src]="passato" width="160em"></div>
    </div>

        <div class="col col-lg-2 card" >
            <img src="../assets/images/cartaF.png" width="160em">
            <div class="back"><img [src]="presente" width="160em"></div>
        </div>


        <div class="col col-lg-2 card" >
<img src="../assets/images/cartaF.png" width="160em">
            <div class="back"><img [src]="futuro" width="160em"></div>
        </div>
    </div>



 <div class="row justify-content-md-center">
    <div class="col col-lg-2">
        <p class="text-center paspre">Passato</p>
    </div>
    <div class="col col-lg-2">
        <p class="text-center paspre">Presente</p>
    </div>
    <div class="col col-lg-2">
        <p class="text-center paspre">Futuro</p>
    </div>

    




</div>
<div class="row justify-content-md-center">

   
<button type="button" class="btn btn-outline-light" id="button" (click)="getRandomTaroks()">scopri le tre carte</button>


</div>
<style>
    #droptarget {
        float: left;
        width: 200px;
        height: 35px;
        margin: 55px;
        margin-top: 155px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }
</style>
<div>

    <p ondragstart="dragStart(event)" draggable="true" id="dragtarget">Drag me into the rectangle!</p>

    <div id="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)">
    </div>

    <p style="clear:both;"><strong>Note:</strong> drag events are not supported in Internet Explorer 8 and earlier
        versions or Safari 5.1 and earlier versions.</p>

    <p id="demo"></p>

   
   

</div>